/* line 1, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
* {
  font-size: 10px; }

/* line 5, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
html {
  background-color: #6f74fa; }

/* line 9, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
html,
body {
  width: 100%; }

/* line 35, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
header {
  background-image: url(../images/3.jpg);
  background-size: cover;
  position: relative;
  width: 100%; }
  /* line 41, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  header .stripe-head {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.14);
    top: 5rem; }
  /* line 48, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  header form {
    position: absolute;
    top: 2rem;
    right: 4rem; }
    /* line 52, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
    header form input {
      height: 3rem;
      width: 15rem;
      border-radius: 0;
      font-size: 1.5rem; }
    /* line 59, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
    header form a {
      text-decoration: none;
      font-size: 1.5em; }
  /* line 65, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  header .logocompany {
    width: 10rem;
    height: 10rem;
    border: 8px solid white;
    transform: rotate(45deg);
    margin: 4rem; }
    /* line 74, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
    header .logocompany p {
      text-align: center;
      transform: rotate(-45deg);
      line-height: 10rem;
      font-size: 2rem;
      font-weight: 900;
      color: white; }
  /* line 83, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  header .text-head {
    color: white;
    margin-top: 25rem; }

/* line 89, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
#products {
  position: relative;
  height: 400px;
  background-color: black; }
  /* line 93, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  #products .animation-examples {
    width: 100px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: cambria; }
  /* line 103, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  #products .animation-examples.one {
    color: white;
    outline: 3px dashed rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 0 3px rgba(124, 67, 0, 0.62);
    animation: 1s animateBorderOne ease infinite; }
    /* line 108, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
    #products .animation-examples.one a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      padding: 2rem; }

@keyframes animateBorderOne {
  to {
    outline-color: rgba(124, 67, 0, 0.62);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.35); } }
  /* line 121, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
  #products .check-products {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    flex-wrap: wrap; }
    @media (max-width: 720px) {
      /* line 121, C:/Users/Agata/Desktop/projektCodersLab/myProject/scss/style2.scss */
      #products .check-products {
        flex-direction: column; } }
